<div class="center">
  <h4>Crear cuenta</h4>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="margin-bottom">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions center">
    <%= f.submit "Crear usuario",class: 'btn' %>
  </div>
</div>
<% end %>
<div class="row">
  <div class="divider margin-bottom"></div>
  <p>O puedes <%= link_to "Iniciar sesión",new_user_session_path, class: '' %></p>
</div>
<%# render "devise/shared/links" %>
