<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5 class="white-text">Este es el footer</h5>
        <p>es simple pero hecho con amor <3</p>
      </div>
      <div class="col l4 s12">Aquí pueden ir los enlaces de interés</div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container white-text">
      © 2017 INNORTE
    </div>
  </div>
</footer>
