<%
mensajes = ''
unless flash[:alert].nil?
  if flash[:alert].is_a? String
    mensajes = flash[:alert]
  elsif flash[:alert].is_a? Array
    flash[:alert].map do |m|
      mensajes += "#{m}\\n"
    end
  end
end
mensajes_p = ''
unless flash[:notice].nil?
  if flash[:notice].is_a? String
    mensajes_p = flash[:notice]
  elsif flash[:notice].is_a? Array
    flash[:notice].map do |m|
      mensajes_p += "#{m}\\n"
    end
  end
end
%>
<% content_for :messages_js do %>
<%= "Electo.Messages.showMessage({title:'Algo salió mal...',text:'#{mensajes}',type:'error'});".html_safe unless mensajes.empty? %>
<%= "Electo.Messages.showMessage({title:'Hurra!',text:'#{mensajes_p}',type:'success'});".html_safe unless mensajes_p.empty? %>
<% end %>
