<nav>
  <div class="nav-wrapper">
    <a href="<%= root_path %>" class="brand-logo center">Simulador de Escenario Electoral</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><b><%= link_to "Candidatos", candidatos_path %></b></li>
      <li><b><%= link_to "Escenarios", escenarios_path %></b></li>
      <li><b><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></b></li>
    </ul>
  </div>
</nav>
