<div class="center">
  <h4>Inicia sesión</h4>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="margin-bottom">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me,"Recuérdame" %>
  </div>
  <% end -%>

  <div class="actions center">
    <%= f.submit "Log in", class:'btn' %>
  </div>
</div>
<% end %>
