/*
 *= require material_icons
 *= require sweetalert2/dist/sweetalert2.min.css
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("red", "base") !default;
$secondary-color: color("green", "darken-3") !default;
@import 'materialize';
@import 'transitions';

html, body{
  min-height: 100vh;
}

footer{
  max-height: 200px;
}

.actions-button{
  position: fixed;
  bottom: 6rem;
  right: 6rem;
}

.w-margin{
  margin: 0;
}

.margin-bottom{
  margin-bottom: 1.5em;
}

.w-padding{
  padding: 0em !important;
}
.relative{
  position: relative;
}

.hide{
  display: none;
  transition: ease 0.2s;
}

.fadeout{
  animation: fadeout 0.5s;
}

.fadein{
  animation: fadein 0.5s;
}

.full-container{
  width: 100%;
  height: calc(100vh - 264px);
}

.add::after, .archive::after, .people::after, .assignment::after{
  font-family: 'Material Icons';
  font-size: 1.5em;
}

.add::after{
  content: '\E145';
}

.archive::after{
  content: '\E149';
}

.people::after{
  content: '\e7fb';
}

.assignment::after{
  content: '\e85d';
}

.padding{
  padding: 1.5em;
  transition: ease 1s;
}

.padding-w-top{
  padding: 0em 1.5em 1.5em 1.5em;
}

.tabs{
  background-color: rgba(244, 67, 54, 0.15) !important;
}

.input-field label{
  pointer-events: auto !important;
}

.title{
  color: white;
  padding: 1em;
  margin-bottom: 1em;
}

.wrong{
  background-color: rgba(236, 15, 15, 0.61);
}

.correct{
  background-color: rgba(42, 202, 28, 0.6);
}

.bloques{
  background-color: rgba(80, 80, 80, 0.46);
  border-radius: 0.3em;
}

.hoverable:hover{
  transform: scale(1.1);
  transition: ease 0.2s;
  z-index: 10;
}

.bloques > p {
  padding: 0.5em;
}

.box{
  width: 70%;
  max-width: 700px;
  background-color: white;
  padding: 1.5em;
  margin: auto;
  border-radius: 0.2em;
}

.box img {
  max-width: 30%;
}
