<%= form_with model: @candidato, local: true do |f| %>
<div class="input-field">
  <p><b>Nombre del Candidato</b></p>
  <%= f.text_field :nombre, placeholder: "Nombre del nuevo candidato", required: true, value: @candidato.nombre %>
</div>
<div class="input-field">
  <p><b>Fecha de nacimiento</b><p>
  <%= f.date_field :fecha_nacimiento, placeholder:"YYYY-MM-DD", max:"2017-12-10", required: true, value: (@candidato.id.nil? ? '' : @candidato.fecha_nacimiento.strftime('%Y-%m-%d') )%>
</div>
<div class="input-field">
  <p><b>Lugar de nacimiento</b></p>
  <%= f.select :carto_mpio_id, options_for_select(@mpios.map {|m| [m.nom_mun.mb_chars.titleize,m.id]},selected: @candidato.carto_mpio_id) %>
</div>
<div class="input-field">
  <p><b>Sexo</b></p>
    <%= f.radio_button :sexo, "true", id: 'candidato_sexo_true', required: true, checked: (true if @candidato.sexo) %>
    <%= f.label :sexo_true, "Masculino" %>
    <%= f.radio_button :sexo, "false", id: 'candidato_sexo_false', checked: (false if @candidato.sexo)  %>
    <%= f.label :sexo_false, "Femenino" %>
</div>
<div class="input-field">
  <p><b>Porcentaje de encuesta</b></p>
  <%= f.number_field :encuesta, min: 0, max: 100, step: "0.01", placeholder: "%",value: @candidato.encuesta %>
</div>
<div class="input-field">
  <%= f.submit (@candidato.id.nil? ? "Crear" : "Actualizar"),class:"btn btn-large waves waves-light red" %>
</div>
<% end %>
<% content_for :js do %>
$('select').material_select();
<% end %>
