<a class="waves-effect waves-light btn modal-trigger red right tooltiped" href="#modalUploadFile" data-position="top" data-delay="50" data-tooltip="Crea candidatos a partir de un archivo csv"><i class="material-icons large">backup</i></a>
<div id="modalUploadFile" class="modal">
  <div class="modal-content">
    <h4>Sube tu archivo en formato CSV</h4>
    <%= form_with url: upload_candidatos_csv_path, method: :post, local: true, html: {multipart: true} do |f| %>
    <p>Selecciona tu archivo formateado:</p>
    <div class="file-field input-field">
      <div class="btn">
        <span>Archivo</span>
        <%= file_field_tag :csv_candidatos %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <div class="input-field">
      <%= submit_tag "Subir archivo", class: 'btn btn-large waves waves-light red' %>
    </div>
    <% end %>
  </div>
</div>
<% content_for :js do %>
$('.tooltipped').tooltip({delay: 50});
$('#modalUploadFile').modal();
<% end %>
