<div class="row">
  <% if @candidatos.empty? %>
    <h3>Parece que no hay candidatos dados de alta en el sistema...</h3>
    <h4>podrías crear candidatos desde el botón inferior derecho</h4>
  <% else %>
    <% @candidatos.map do |c| %>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title"><b>Candidato:</b> <%= c.nombre.titleize %></span>
          <p><b>Fecha de nacimiento:</b> <%= c.fecha_nacimiento.strftime("%d/%m/%Y") %></p>
          <p><b>Edad:</b> <%= c.edad.to_i %> años al día de la elección (01/07/2018).</p>
          <p><b>Sexo:</b> <%= c.sexo ? 'Hombre' : 'Mujer' %></p>
          <p><b>Encuesta:</b> <%= c.encuesta %>%</p>
          <p><b>Municipio de nacimiento:</b> <%= c.carto_mpio.nom_mun.titleize %></p>
        </div>
        <div class="card-action">
          <%= link_to "Editar", edit_candidato_path(c.id), class: 'btn waves' %>
          <%= link_to "Eliminar", candidato_path(c.id), class: "btn red waves right", method: :delete %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <%= link_to new_candidato_path, class: "btn-floating btn-large waves-effect waves-light red #{'pulse' if @candidatos.empty?} actions-button" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
