<% if @datos.empty? %>
  <p>No hay datos asociados en la base de datos</p>
<% else %>
  <% keys = @datos.first.attributes.keys %>
  <!-- enlace para abrir el modal de restricciones -->
  <a class="waves-effect waves-light btn modal-trigger tooltipped assignment right red" data-position="left" data-delay="50" data-tooltip="Ver resumen de las restricciones" href="#modalRestricciones"></a>
  <table id="datos" class="striped highlight">
    <thead>
      <tr>
        <% keys.map do |k| %>
          <%= "<th>#{k.capitalize}</th>".html_safe unless k === "id" %>
        <% end %>
        <th colspan="2">Candidato</th>
        <th>Votos totales esperados</th>
      </tr>
    </thead>
    <tbody>
      <% @datos.map do |dato| %>
      <tr>
        <% totalv = 0 %>
        <% keys.each do |k| %>
        <%= "<td id=#{k.gsub(" ","_").downcase}_#{dato[:id]}>#{dato[k]}</td>".html_safe unless k === "id" %>
        <% totalv = dato[k] if k === "PRI votantes"%>
        <% end %>
        <td id="candidato_<%= dato['id']%>">
          <%
          candidato = nil
          total_votos = 0
          @candidatos.map do |c|
            if c['objeto_id'] === dato.id
              candidato = Candidato.select("id, nombre, date_part('year',age(date('2017-07-01'),fecha_nacimiento)) as edad, sexo").where("id = ?",c['candidato_id']).first
              total_votos = c['indice']
            end
          end
          %>
          <%= candidato.nil? ? ("<p>No hay candidato asignado aún...</p>".html_safe) : candidato.nombre %>
        </td>
        <td id="candidato_sexo_<%= dato['id']%>" class="hide"><%= candidato.sexo unless candidato.nil? %></td>
        <td id="candidato_edad_<%= dato['id']%>" class="hide"><%= candidato.edad unless candidato.nil? %></td>
        <td>
          <%= "<button data-turbolinks='false' onclick='Electo.Form.showModalCandidato(#{dato["id"]})' class='btn red waves-effect waves-light people tooltipped' data-activar='true' data-position='top' data-delay='50' data-tooltip='Asignar o crear candidato'></button>".html_safe if @edit %>
        </td>
        <td id="total_votos_<%= dato['id']%>"><%= total_votos === 0 ? totalv : total_votos.round%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <!-- Modal para asignar al candidato a la vista y al escenario -->
  <div id="modalCandidato" class="modal">
    <div class="padding-w-top">
      <div class="row w-padding">
        <div class="col s12">
          <ul class="tabs center">
            <li class="tab col s4"><a href="#buscarCandidatoTab">Buscar Candidato</a></li>
            <li class="tab col s4"><a href="#datosCandidatoTab">Datos del candidato</a></li>
          </ul>
        </div>
        <div id="buscarCandidatoTab" class="padding">
          <h5 class="center">Selecciona al candidato</h5>
          <input type="text" id="busquedaCandidato" placeholder="Nombre del candidato" class="flexdatalist" name="busquedaCandidato"
            data-relatives="#relative" data-search-in='["nombre","edad"]' data-visible-properties='["nombre","edad"]'>
          <h5 class="center division">O puedes crear un nuevo candidato...</h5>
          <%= form_with url: candidatos_path(format: :json), method: :post, html: {'onsubmit': 'return Electo.Messages.showMessageCandidatoCreated()'} do |f| %>
          <div class="input-field">
            <p>Nombre del Candidato</p>
            <%= f.text_field "[candidato][nombre]", placeholder: "Nombre del nuevo candidato", required: true %>
          </div>
          <div class="input-field">
            <p>Fecha de nacimiento<p>
            <%= f.date_field "[candidato][fecha_nacimiento]", placeholder:"YYYY-MM-DD", max:"2018-12-10", required: true %>
          </div>
          <div class="input-field">
            <p>Sexo</p>
              <%= f.radio_button "[candidato][sexo]", "true", id: "sexo_masculino", required: true %>
              <%= f.label :sexo_masculino, "Masculino" %>
              <%= f.radio_button "[candidato][sexo]", "false", id:"sexo_femenino" %>
              <%= f.label :sexo_femenino, "Femenino" %>
          </div>
          <div class="input-field">
            <% if @escenario.tipo_escenario == 2 %>
            <p>Municipio</p>
            <%= f.select "[candidato][carto_mpio_id]", options_for_select(CartoMpio.all.map {|m| [m.nom_mun.mb_chars.titleize,m.id]}) %>
            <% else %>
            <%= f.hidden_field "[candidato][carto_mpio_id]", value:'', id: "carto_mpio_id" %>
            <% end %>
          </div>
          <div class="input-field">
            <p>Porcentaje de encuesta</p>
            <%= f.number_field "[candidato][encuesta]", min: 0, max: 100, placeholder: "%", required: true %>
          </div>
          <div class="input-field">
            <input type="submit" value="Crear" class="btn btn-large waves waves-light red" >
          </div>
          <% end %>
        </div>
        <div id="datosCandidatoTab" class="padding">
          <h5>Estos son los datos del candidato</h5>
          <div id="datosCandidatoSeleccionado">
            <p>Actualmente no se ha seleccionado algún candidato.</p>
            <p>Favor de seleccionar un candidato en la pestaña anterior.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal inferior para mostrar las restricciones establecidas -->
  <div id="modalRestricciones" class="modal bottom-sheet">
    <div class="modal-content w-padding">
      <div class="title wrong">
        <h4 class="center">Resumen de las Restricciones</h4>
      </div>
      <div class="container">
        <div class="row" id="restriccionesBloques">
          <% bloques = calculate_bloques %>
          <%= formatear_html bloques %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to 'Generar reporte del escenario actual', escenario_path(params[:id], format: :pdf), class: 'modal-action modal-close waves-effect waves-green btn red', target: "_blank" %>
    </div>
  </div>
<% end %>
