<%= form_with model: @escenario, local: true do |f| %>
  <div class="row">
    <div class="col s12">
      <h4>Nombre</h4>
      <div class="input-field">
        <%= f.text_field :nombre, class: 'validate' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h4>Descripción</h4>
      <div class="input-field">
        <%= f.text_area :descripcion, class: 'materialize-textarea' %>
      </div>
    </div>
  </div>
  <%= f.hidden_field :tipo_escenario, id:'tipo_escenario' %>
  <%= f.button :submit,class:'waves-effect waves-light btn btn-large red' do %>
  Crear<i class="material-icons right">send</i>
  <% end %>
<% end %>
