<h2>Editando la información del escenario '<%= @escenario.nombre %>'</h2>
<%= render 'form_datos' %>
<% content_for :js do %>
$('.tooltipped').tooltip({delay: 50});
$('#modalRestricciones').modal();
$('ul.tabs').tabs();
Electo.Form._tipo_escenario_ = <%= @escenario.tipo_escenario %>
Electo.Form._id_escenario_ = <%= @escenario.id %>
Electo.Table.init(document.getElementById("datos"));
$('#modalCandidato').modal({
  complete: function(){
    $('.flexdatalist').flexdatalist('destroy');
    Electo.Form.clearAllInputs('buscarCandidatoTab','datosCandidatoTab');
  }
});
$('select').material_select();
<% end %>
