<% unless @escenarios.empty? %>
  <div class="row">
  <% @escenarios.map do |e| %>
    <!-- <div class="col s12 m6 l4">
      <div class="card horizontal <%= e.tipo_escenario == 1 ? 'red lighten-5' : 'green lighten-5' %> hoverable">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/6" alt="<%= e.nombre %>">
        </div>
      </div>
    </div> -->

    <div class="col s12 m6 l4">
      <div class="card <%= e.tipo_escenario == 1 ? 'red lighten-5' : 'green lighten-5' %> hoverable">
        <div class="card-content">
          <span class="card-title"><%= e.nombre %></span>
          <p><%= e.descripcion %></p>
        </div>
        <div class="card-action white-text">
          <%= link_to 'Ver', escenario_path(e), class:"btn blue-grey darken-3" %>
          <%= link_to 'Editar', edit_escenario_path(e), class:"btn blue-grey darken-3" %>
          <button class="btn red darken-3 archive tooltipped right" data-message="true" data-method-http="DELETE" data-position="top" data-delay="50"
            data-tooltip="Archivar escenario" data-delete-url="<%= escenario_path(e.id) %>" data-title-message="¿Quieres eliminar el escenario <%= e.nombre %>?"></button>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% else %>
  <h4>Ups! parece que no hay escenarios aún</h4>
  <p>Podemos resolverlo creando uno nuevo!</p>
<% end %>
<%= link_to new_escenario_path, class: "btn-floating btn-large waves-effect waves-light red #{'pulse' if @escenarios.empty?} actions-button" do %>
  <i class="material-icons">add</i>
<% end %>
<%= content_for :js do %>
Electo.Messages.init(document.querySelectorAll('[data-message=true]'));
<% end %>
