<div class="full-container">
  <div id="tipo_visualizacion" class="row">
    <h2>Selecciona el tipo de simulación:</h2>
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag "3.jpg", alt: "Imagen Municipio" %>
          <!-- <img src="http://materializecss.com/images/sample-1.jpg" alt="Imagen Municipio"> -->
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light-red red add" data-assign="tipo_escenario" data-value="1" data-in="form_escenario" data-out="tipo_visualizacion"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Municipal</span>
          <p>El escenario a mostrar será mediante los datos referentes a los municipios de Michoacán de Ocampo</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag "5.jpeg", alt: "Imagen Distrito" %>
          <!-- <img src="http://materializecss.com/images/office.jpg" alt="Imagen Municipio"> -->
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light-red red add" data-assign="tipo_escenario" data-value="2" data-in="form_escenario" data-out="tipo_visualizacion"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Distrital</span>
          <p>El escenario a mostrar será mediante los datos referentes a los distritos de Michoacán de Ocampo</p>
        </div>
      </div>
    </div>
  </div>
  <div id="form_escenario" class="hide padding">
    <a data-in="tipo_visualizacion" data-out="form_escenario" class="btn red right">Volver</a>
    <%= render 'form' %>
  </div>
</div>

<% content_for :js do %>
  Electo.Showable.init(document.querySelectorAll('[data-in]'));
<% end %>
