<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
  </head>
  <body>
    <div class="center gray-pdf">
      <h4>Reporte del escenario <%= @escenario.tipo_escenario.eql?(1) ? 'municipal' : 'distrital' %>: <b><%= @escenario.nombre %></b></h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s5">
          <div class="row">
            <h5 class="center gray-pdf">Restricciones por bloque</h5>
            <% bloques = calculate_bloques %>
            <%= formatear_html bloques %>
          </div>
        </div>
        <div class="col s7">
          <div class="row">
            <h5 class="center gray-pdf">Notas sobre las restricciones</h5>
            <div class="col s12">
              <%= generate_notas_bloque(bloques).html_safe %>
            </div>
          </div>
          <div class="row card red lighten-4 padding">
            <h3 class="center"><b>Total de votos esperados:</b></h3>
              <% @escenario.tipo_escenario.eql?(1) ? (votos_totales = HistoricoEscenarioMpio.calculate_votos_totales_escenario(@escenario.id)) : (votos_totales = HistoricoEscenarioDist.calculate_votos_totales_escenario(@escenario.id)) %>
            <h2 class="center"><%= number_with_delimiter(votos_totales[@escenario.id].to_i) %> votos</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
