<h2>Visualizando la información del escenario '<%= @escenario.nombre %>'</h2>
<%= render 'form_datos' %>
<% content_for :js do %>
$('.tooltipped').tooltip({delay: 50});
$('#modalRestricciones').modal();
Electo.Table.init(document.getElementById("datos"));
<% end %>
