<!DOCTYPE html>
<html>
  <head>
    <title>Simulador de elecciones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- buscar como añadir estas librerias -->
    <link href="https://unpkg.com/vanilla-datatables@latest/dist/vanilla-dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="http://projects.sergiodinislopes.pt/flexdatalist/src/jquery.flexdatalist.css" rel="stylesheet" type="text/css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render '/partials/messages' %>
    <%= render '/partials/navigator' %>
    <div class="container full-container">
      <%= yield %>
    </div>
    <%# render '/partials/footer' %>
    <script type="text/javascript">
      function initialize(){
        <%= content_for?(:js) ? yield(:js) : '' %>
        <%= content_for?(:messages_js) ? yield(:messages_js) : '' %>
      }
    </script>
  </body>
</html>
