<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simulador de elecciones</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<%= render '/partials/messages' %>
<body class="red lighten-1 valign-wrapper">
  <div class="box">
    <div class="center">
      <%= image_tag 'logo_pri.png', class: 'responsive-img' %>
    </div>
    <%= yield %>
  </div>
  <script>
    function initialize(){
      <%= content_for?(:messages_js) ? yield(:messages_js) : '' %>
    }
  </script>
</body>
</html>
